#preview {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
}

#full-name-preview{
    grid-column: span 2;
    justify-self: center;
}

#contact-info-section{
    grid-row: span 1;
}

#preview h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}